<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<script src="/result.js"></script>
	<script src="/searchKey.js"></script>
	<script src="/getJson.js"></script>
	<div class="container">
		<h1>
			WebBasic created by iz-j <a href="/input">Go to input.html</a>
		</h1>
		<div class="panel panel-danger">
			<div class="panel-heading">Ajax</div>
			<div class="panel-body">
				<div id="ajax_data">
					<input type="button" id="ajax_btn" value="Ajax通信テスト" /><br /> 出力：<span
						id="output_data"></span>
				</div>
				<p>
					数字: <input type="text" name="aNumber" /> 動物： <input type="text"
						name="aAnimal" /> 国名： <input type="text" name="aNation" />
				</p>
				<p>
					<input type="button" value="NotFormSubmit" id="submit_ajax" />
				</p>
				<p>
					履歴： <input type="number" name="Key" />
				</p>
				<p>
					<input type="button" value="検索" id="search_ajax" />
				</p>

				<br />

				<h1>Result</h1>
				<div id="result_ajax"></div>
				<br />

				<h1>Result2</h1>
				<div id="search_result"></div>

			</div>
		</div>
	</div>

</body>
</html>