<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<script src="/getJson.js"></script>

	<div class="container">
		<h1>
			WebBasic created by iz-j <a href="ajax">Go to ajax.html</a>
		</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">Http通信</div>
			<div class="panel-body">
				<form action="#" th:action="@{input}" th:object="${indexForm}"
					method="post">
					<p>
						数字: <input type="text" th:field="*{number}" /> 動物： <input
							type="text" th:field="*{animal}" /> 国名： <input type="text"
							th:field="*{nation}" />
					</p>
					<p>
						<input type="submit" value="Submit" />
					</p>
				</form>
				<form action="#" th:action="@{Muneharu}" method="get">
					<p>
						履歴： <input type="number" name="Key" />
					</p>
					<p>
						<input type="submit" value="検索" />
					</p>
				</form>
				<p th:text="'数字: ' + ${number2}" />
			</div>
		</div>
	</div>

</body>
</html>