<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Result2</h1>
		<table class="table">
			<tr th:each="entry : ${map}">
				<td th:text="${entry.key}">key</td>
				<td th:text="${entry.value}">value</td>
			</tr>
		</table>

		<a href="index">Submit another message</a>
	</div>
</body>
</html>
